* {
  padding: 0;
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%
}

html {
  scroll-behavior: smooth;
}

.logo {
  float: left;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  height: 49px;
  width: 49px;
}

header {
  // background-color: rgb(154, 204, 218);
  min-width: 100%;
  font-family: 'Montserrat', sans-serif;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  letter-spacing: 2px;
  width: 95%;
  margin: 0 auto;
  background-color: white;
}

.container h1 {
  font-family: 'Montserrat', sans-serif;
  color: #67ADFF;
  text-align: center;
  font-size: 20pt;
}

nav {
  float: right;
  padding: 14px 0;
}

nav ul {
  margin: 0;
  padding: 2px 0;
  list-style: none;
}

nav li {
  // display inline block for versitality, using text alignment if we want to.
  display: inline-block;
  margin-left: 70px;
  padding-top: 7px;

  position: relative;
}

nav a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: black;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: #67ADFF;
  
  position: abosolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.home {
  background-color: rgb(154, 204, 218);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 900px;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 30pt;
  letter-spacing: -5px;
}

.home-logo h1 {
  color: #67ADFF; 
  max-width: 50px;
}

.homesqaure {
  position: absolute;
  width: 291px;
  height: 291px;
  left: 42x;
  top: 117px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.hometext {
  position: absolute;
  width: 245px;
  height: 429px;
  left: 25px;
  top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center center;
  font-size: 15pt;
  line-height: 40px;
}

.homecircle {

  position: absolute;  
  width: 200px;
  height: 200px;
  border: 1px solid #FFFFFF;
  left: 47px;
  top: 48px;
  border-radius: 50%;
  display: inline-block;
}

.about-arrow img:hover { 
  position: relative; 
  top: 5px;
} 

#about-header {
  color: #67ADFF;
}

.about h1 {
  padding-left: 20px;
  padding-right: 400px;
}

#about {
  background-color: white;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact {
  background-color: rgb(218, 218, 218);
  min-height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border: 5px dotted green;
}
