
html {
  min-height: 2px;
}

body {
  min-height: 2700px;
}

.home {
  background-image: url(../images/vincent-guth-182001-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 900px;
}

.homesqaure {
  border: dotted 5x orange;
}

.portfolio {
  background-color: black;
  min-height: 900px;
}

.contact {
  background-image: url(../images/image-upside-down.jpg);
  min-height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}